body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
header {
    background-color: #0099cc;
}
nav {
        background-color: lightgray;
        padding: 5px 0px 5px 0px;
        margin-top: 0px;  
    }
.nav-ul li {
        display: inline;
    }
.nav-ul li~li {
    padding-left: 4px;
    }
.main-footer {
    background-color:rgb(56, 55, 55);
    color: white;
}